@model Mvc_472_PortfolioC.Models.CitiesViewModel
@*@model IEnumerable<Mvc_472_PortfolioC.Models.City>*@

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    @using (Html.BeginForm())
    {
        @Html.ListBoxFor(x => x.SelectedCities, Model.Cites, new { size = 3 })
        <br />
        <input type="submit" value="submit" />
    }
</div>

@*<div>
@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <br />
    <input type="submit" value="submit" />
}
</div>*@